html {
  font-family: $font-default;
}

.footer {
  color: darkgray;
}

.navList {
  text-transform: uppercase;
  font-weight: bold;
}

@media screen and (max-width: $br-sm){
  .mainlogo {
    font-size: 2.5em;
  }
}