.about {
  margin: 0 1em;
  img {
    margin: 1em;
  }
  p {
    margin: 0;
  }
}

@media screen and (min-width: $br-md){
  .about {
    margin: 0 4em;
  }
}

@media screen and (min-width: $br-lg){
  .about {
    margin: 0 12em;
  }
}