.footer {
  display: inline-block;
  text-align: center;
  position: fixed;
  bottom: 0;
  background-color: $bg-colour;
  height: $footer-height;
  z-index: 999;
}

@media screen and (max-width: $br-sm){
  .footer {
    width: 100%;
  }
}